* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content { 
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}

.section h2 {
  font-family: sans-serif;
  text-transform: capitalize;

}

.section p {
  text-align: justify;
  padding: 15px;
} 