* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}

.header {
  background-color: red;
  color: white;
  padding: 15px;
  box-shadow: 0 0 10px black;
}

.section h2 {
  font-family: sans-serif;
  text-transform: capitalize;
  margin-top: 15px;
}

.section p {
  text-align: justify;
  padding: 15px;
}

.footer {
  background-color: black;
  color: white;
  text-transform: capitalize;
  padding: 15px;
}
